@import '../../../../styles/sizes';

:host {
  display: block;
  width: 350px;
}

p {
  margin-bottom: $baseline;
}

input[type='text'],
input[type='password'] {
  margin-bottom: $baseline;
}

.error {
  font-size: 14px;
  color: #e00;
}

.bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: $baseline;

  button {
    width: 135px;
  }

  .separator {
    flex-grow: 1;
  }

  a {
    font-size: 14px;
  }
}
